// {
//   "presets": ["env", "stage-3"],
//   "plugins": [["transform-runtime"]]
// }

{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10.16.0"
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}
